body {
    background-color: var(--color-dark);
}

.body {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.first-half {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.first-half-left span {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 4px;
}
.first-half-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 250px;
    width: 45%;
    height: 100%;
}


.first-half p {
    width: 100%;
    font-size: 23px;
    font-weight: 600;
    line-height: 1.7rem;
    letter-spacing: 2px;
}
video {
    width: 50%;
    height: auto;
    object-fit: cover;
    z-index: 0;
    right: 0;
    border-radius: 10px;
}

.second-half {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px 10px;
    margin-top: 14rem;
}

.service {
    display: flex;
    gap: 30px;
    padding: 10px 10px;
}

.first-service, .second-service, .third-service {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.first-service p, .second-service p, .third-service p {
    font-size: 15px;
}

.title {
    font-weight: 600;
    font-size: 23px;
}
#second-half-service {
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 2px;
}



/* @media screen and (max-width: 768px) {
    .project-nav {
        height: 50px;
    }

    .pulse-bytes a {
        height: 90px;
        width: 100px;
        letter-spacing: 1px;
    }


    #navlink {
        transform: translateX(-100%);
        transition: transform 0.5s ease-in-out;
        position: absolute;
        width: 100%;
        top: 80px;
        right: 0;
        flex-direction: column;
        z-index: 1;
        color: white;
    }
    #navlink li a{
        font-size: 24px;
    }

    #navlink.hidden {
        transform: translateX(0);
        display: flex;
    }

    .menu {
        display: flex;
        gap: 5px;
        flex-direction: column;
        cursor: pointer;
    }

    #contact {
        display: none;
    }

    .menu {
        display: flex;
        gap: 5px;
        cursor: pointer;
        flex-direction: column;
    }

    .menu-item {
        height: 6px;
        width: 30px;
        background-color: white;
    }

    #hidden-contact {
        display: flex;
    }
} */
