.project-nav, .contact-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 20px 20px;
    top: auto;
    z-index: 1;
    background-color: var(--color-dark);
}
.contact-nav {
    justify-content: flex-start;
    gap: 400px;
}

.project-nav li {
    list-style: none;
}

.project-nav a {
    text-decoration: none;
    color: var(--color-light);
}


.pulse-bytes {
    font-size: 28px;
    letter-spacing: 1px;
}

#navlink {
    display: flex;
    gap: 70px;
    align-items: center;
    padding: 10px 10px;
    font-size: 17px;
    font-weight: 300;
}
.contact-nav #navlink {
    width: 80%;
    align-items: start;
    justify-content: space-between;
}
.contact-nav #navlink #navlink-home {
    display: none;
}
#navlink li a {
    transition: color 0.5s ease;
}
#navlink li a:hover {
    color: gold;
}
.contact-nav #navlink li a {
    padding: 10px 30px;
    background-color: rgb(81, 181, 253);
    border-radius: 30px;
    font-weight: 600;
    text-align: center;
    color: var(--color-dark);
    transition: background-color 0.5s ease;

}

.contact-nav #navlink li a:hover {
    background-color: rgb(96, 237, 247);
}
#contact {
    padding: 20px 50px;
    background-color: rgb(206, 253, 81);
    border-radius: 30px;
    text-align: center;
    color: var(--color-dark);
    transition: background-color 0.5s ease;
}
#contact:hover {
    background-color: rgb(151, 202, 9);;
}
.contact-nav #contact {
    display: none;
}
.menu {
    display: none;
}

#hidden-contact {
    display: none;
}
