.project-nav, .contact-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 20px 20px;
    top: auto;
    z-index: 1;
    background-color: var(--color-dark);
}
.contact-nav {
    justify-content: flex-start;
    gap: 400px;
}

.project-nav li, .contact-nav li {
    list-style: none;
}

.project-nav a, .contact-nav a {
    text-decoration: none;
    color: var(--color-light);
}


.pulse-bytes {
    font-size: 28px;
    letter-spacing: 1px;
}

#navlink {
    display: flex;
    gap: 70px;
    align-items: center;
    padding: 10px 10px;
    font-size: 17px;
    font-weight: 300;
}
.contact-nav #navlink {
    width: 80%;
    align-items: start;
    justify-content: space-between;
}
.contact-nav #navlink #navlink-home {
    display: none;
}
#navlink li a {
    transition: color 0.5s ease;
}
#navlink li a:hover {
    color: gold;
}
.contact-nav #navlink li a {
    padding: 10px 30px;
    background-color: rgb(81, 181, 253);
    border-radius: 30px;
    font-weight: 600;
    text-align: center;
    color: var(--color-dark);
    transition: background-color 0.5s ease;

}

.contact-nav #navlink li a:hover {
    background-color: rgb(96, 237, 247);
}
#contact {
    padding: 20px 50px;
    background-color: rgb(206, 253, 81);
    border-radius: 30px;
    text-align: center;
    color: var(--color-dark);
    transition: background-color 0.5s ease;
}
#contact:hover {
    background-color: rgb(151, 202, 9);;
}
.contact-nav #contact {
    display: none;
}
.menu {
    display: none;
}

#hidden-contact {
    display: none;
}

/* Tablets and smaller laptops (max-width: 1024px) */
@media screen and (max-width: 1024px) {
    .contact-nav {
        gap: 200px;
    }

    .pulse-bytes {
        font-size: 24px;
    }
}

@media screen and (max-width: 1024px) {
    #navlink {
        gap: 40px;
        font-size: 16px;
    }

    #contact {
        padding: 15px 40px;
    }
}

@media screen and (max-width: 768px) {
    .contact-nav{
        gap: 200px;
        width: 100%;
        justify-content: space-between;
    }
    .project-nav, .contact-nav {
        padding: 15px;
    }

    #navlink {
        flex-direction: column;
        position: absolute;
        top: 90px;
        left: 0;
        width: 100%;
        background-color: var(--color-dark);
        align-items: center;
        padding: 20px 0;
        display: none;
    }

    #navlink li {
        margin: 10px 0;
    }

    #navlink li a {
        font-size: 18px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        cursor: pointer;

    }
    .contact-nav #navlink {
        align-items: center;
    }
    .contact-nav #navlink li a {
        padding: 0;
        border-radius: 0;
        background-color: inherit;
        color: var(--color-light);
        font-weight: 300;
    }
    .contact-nav #navlink li a:hover {
        background-color: inherit;
        color: gold;
    }

    .menu .menu-item {
        width: 35px;
        height: 1px;
        background-color: var(--color-light);
        margin: 5px 0;
    }

    /* Toggle visibility when menu is clicked */
    #navlink.hidden {
        display: flex;
        width: 100%;
    }

    #contact {
        display: none;
    }

    #hidden-contact {
        display: block;
    }
}

@media screen and (max-width: 480px) {
    .pulse-bytes {
        font-size: 22px;
    }

    #navlink li a {
        font-size: 16px;
    }

    .menu .menu-item {
        width: 25px;
    }
}
